services:
  fastapi:
    build: 
      context: ..
      dockerfile: GraphRAGDocker/Dockerfile
    container_name: fastapi
    ports:
      - "8001:8001"
    volumes:
      - fastapi_data:/app/assets
    networks:
      - backend
    restart: always
    env_file:
      - ./env/.env.app
    healthcheck:
      test: ["CMD", "curl", "-f", "http://0.0.0.0:8001/api/v1/health"]
      interval: 5s
      retries: 5
      timeout: 3s
      start_period: 5s
  
  streamlit:
    build:
      context: ..
      dockerfile: frontend/Dockerfile
    container_name: streamlit
    ports:
      - "8501:8501"
    networks:
      - backend
    restart: always
    depends_on:
      fastapi:
        condition: service_healthy

  qdrant:
    image: qdrant/qdrant:v1.15
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - backend
    restart: always
  
  nginx:
    image: nginx:stable-alpine3.21-perl
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - fastapi
    networks:
      - backend
    restart: always

networks:
  backend:
    driver: bridge
  
volumes:
  fastapi_data:
  qdrant_data: